#wrapper{

  margin-left: auto;
  margin-right: auto;

  width: 80%;

}

header{

  width: 100%;
  height: 175px;
  background-color: #370057;
  position: relative;

}
nav{
  position: absolute;
  bottom: 0px;

  color: white;

}

#container{
  display: flex;
}

#leftBox{

  width: 20%;
  height: 300px;
  background-color: #D6C296;

}

main{

  width: 60%;
  height: 300px;
  background-color: #A300E3;

}

#rightBox{

  width: 20%;
  height: 300px;
  background-color: #C5C1C0;

}

footer{

  width: 100%;
  height: 125px;
  background-color: #400099;

}

@media screen and (max-width:500px){
  #wrapper{
    width: 100%;
  }
  
}
